export(colorPalette,rasterImage2)
import(plotrix)
importFrom(grDevices,colorRampPalette)
importFrom(grDevices,colors)
importFrom(grDevices,rainbow)
importFrom(graphics,abline)
importFrom(graphics,image)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,strheight)
importFrom(stats,spline)
